* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(/img/fon12.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

section {
  padding: 90px;
}
.coxluq {
  margin-top: 60px;
}
.coxluq h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.coxluq p {
  text-align: justify;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: 600;
}
/*add picture*/
.picture5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.picture5 img {
  border-radius: 10px;
  border: 5px solid rgb(157, 56, 197);
}
